* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifGen {
    position: relative;
    max-width: 680px;
}

.attribution {
    position: absolute;
    width: 40px;
    height: auto;
    bottom: 0;
    right: 0;
}

.next {
    border: none;
    background-color: transparent;
}

.next > svg {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 5px 5px black);
    position: relative;
}

.next > svg:active {
    top: 5px;
    filter: none;
}

.previous {
    border: none;
    background-color: transparent;
}

.previous > svg {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 5px 5px black);
    position: relative;
}

.previous > svg:active {
    top: 5px;
    filter: none;
}