:root {
    --color-1: rgba(239, 240, 242, 1);
    --color-2: rgba(35, 38, 36, 1);
    --color-3: rgba(100, 114, 98, 1);
    --color-4: rgba(255, 86, 40, 1);
    --color-5: rgba(209, 216, 184, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono', monospace;
}


h1 {
    margin: 20px 0px;
    color: var(--color-2);
}

.fontOne {
    font-weight: 100;
}

.fontThree {
    font-weight: 300;
}

.fontFive {
    font-weight: 500;
}

html {
    background-color: var(--color-1);
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.label {
    color: var(--color-2);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid var(--color-3);
    overflow: hidden;
}

.search > svg {
    background-color: white;
    height: 30px;
    width: 30px;
    fill: var(--color-3);
    padding-right: 10px;
}

#input {
    color: var(--color-2);
    border: none;
    height: 30px;
    width: 250px;
    font-size: 16px;
}

#input:focus {
    outline: none;
}

.submit {
    border: none;
    background-color: transparent;
    color: var(--color-2);
    padding: 10px;
}

.submit:hover {
    cursor: pointer;
}

.submit:active {
    color: var(--color-4);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal-gifGen {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid var(--color-3);
    box-shadow: 10px 10px var(--color-4);
    margin: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-5);
}

.gif {
    max-width: 480px;
    max-height: 400px;
    margin: auto;
}

.attribution {
    width: 200px;
    height: auto;
    margin-top: auto;
    margin-bottom: 20px;
}

.imgDetails {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgURL {
    text-decoration: none;
    color: var(--color-2);
    margin-right: 10px;
}

.imgURL:active {
    color: var(--color-4);
}

.next {
    border: none;
    background-color: transparent;
}

.next > svg {
    color: var(--color-2);
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 5px 5px var(--color-3));
    position: relative;
}

.next > svg:hover {
    cursor: pointer;
}

.next > svg:active {
    top: 5px;
    filter: none;
}

.previous {
    border: none;
    background-color: transparent;
}

.previous > svg {
    color: var(--color-2);
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 5px 5px var(--color-3));
    position: relative;
}

.previous > svg:hover {
    cursor: pointer;
}

.previous > svg:active {
    top: 5px;
    filter: none;
}

.clipGif {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-3);
    background-color: white;
    
}

.shortURL {
    border: none;
    color: var(--color-2);
    background-color: transparent;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    font-size: 16px;
}

.shortURL:focus {
    outline: none;
}

.clip {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.clip:active {
    background-color: var(--color-4);
}

.clip > svg {
    color: var(--color-3);
    width: 20px;
    height: 20px;
}

@media only screen and (min-width: 1025px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .imageContainer {
        flex-wrap: wrap;
    }
    
    .reveal-gifGen{
        width: 270px;
        height: 270px;
    }

    .gif {
        max-width: 230px;
        max-height: 150px;
    }

    .previous {
        order: 1;
    }

    .next {
        order: 2;
    }

    .previous > svg {
        width: 50px;
        height: 50px;
    }

    .next > svg {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 319px) {

}