* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifGen {
    position: relative;
    max-width: 680px;
}

.attribution {
    position: absolute;
    width: 40px;
    height: auto;
    bottom: 0;
    right: 0;
}